version: "3.9"
services:
  db:
    image: postgres:16
    container_name: olymp_max_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: olymp_max
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
